/* Start Trending Books */
.featured {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 25px;
}
.featured b {
	color: #ffc000;
}
.featured::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}

.carousel-nav-icon {
    height: 48px;
    width: 48px;
  }
  
  .carousel-item .col,
  .carousel-item .col-sm,
  .carousel-item .col-md {
    margin: 8px;
    height: 450px;
    background-size: cover;
    background-position: center center;
  }
/* End Trending Books */

/* Start Newsletter Banner */
.newsletter {
    padding: 40px 0;
    background: #ffc000;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 0px;
}

.newsletter .content h3 {
    margin-bottom: 40px;
}

.newsletter .content .form-control {
    height: 50px;
    border-color: black;
    border-radius: 0;
}

.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
}

.newsletter .content .btn {
    min-height: 50px;
    border-radius: 0;
    background: #243c4f;
    color: #fff;
    font-weight: 600;
}

.newsletter .content .btn:hover {
    /* Have to add something here! */
}
/* End Newsletter Banner */

/* Start New Book Card */
.new {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 5px;
}
.new b {
	color: #ffc000;
}
.new::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}

.details {
    border: 1.5px solid grey;
    color: #212121;
    width: 100%;
    height: 39px;
    box-shadow: 0px 0px 10px #212121;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 10px;
}

.cart {
    background-color: #212121;
    color: white;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 900;
    width: 100%;
    height: 39px;
    padding-top: 9px;
    box-shadow: 0px 5px 10px #212121
}

.card {
    width: fit-content
}

.card-body {
    width: fit-content
}

.btn {
    border-radius: 0
}

.img-thumbnail {
    border: none;
}

.card {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 7.5px;
}

.close {
    border: 1.5px solid grey;
    color: #212121;
    width: 25%;
    height: 39px;
    box-shadow: 0px 0px 10px #212121;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    padding-top: 9px;
    margin-top: 10px;
}

.btn-add-cart {
    background-color: #212121;
    color: white;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 900;
    width: 25%;
    height: 39px;
    padding-top: 9px;
    box-shadow: 0px 5px 10px #212121
}
/* End New Book Card */